@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    gap: 0;
    font-family: 'Roboto', sans-serif;
    border: 1px solid white;
}

.hidden {
    display: none !important;
}

body {
    background-color: #3f3e3e;
    display: flex;
    margin: 10px;
}

.container-search {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    flex-direction: row;
}

.search-list {
    display: grid;
    grid-template-columns: auto;
    max-width: 450px;
    max-height: 250px;
    overflow-y: auto;
}

.search-list div {
    display: flex;
    flex-direction: row;
    padding: 5px;
    max-width: 100%;
    max-height: 80px;
    gap: 10px;
}

.search-list div img {
    max-width: 10%;
}

.search-list div div {
    display: flex;
    flex-direction: column;
}

.search-box-container input {
    padding: 10px;
    width: 30vw;
    border-radius: 5px;
}

.results-list-movies {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.results-list-movies .result-container {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.results-list-movies .result-container .img-results-list {
    min-height: 300px;
    max-height: 300px;
}

.container-search-list {
    background-color: green;
    position:absolute;
}
